
        /* ALL PAGES */
        body {
          font-family: 'Times New Roman', sans-serif;
          margin: 0;
          padding: 0;
          background-color: rgb(243, 240, 240);
        }
    
    /* This will style all buttons */
    button {
      background-color: #b90f16; /* Red color */
      color: white; /* Text color */
      border: none; /* Remove default border */
      padding: 10px 20px; /* Add some padding */
      text-align: center; /* Center the text */
      text-decoration: none; /* Remove underline from text */
      display: inline-block; /* Allow multiple buttons in a line */
      font-size: 16px; /* Increase font size */
      margin: 4px 2px; /* Add margin between buttons */
      cursor: pointer; /* Change mouse cursor on hover */
      border-radius: 5px; /* Optional: Add rounded corners to buttons */
    }
    
    /* Add a hover effect for the buttons */
    button:hover {
      background-color: #a00f15; /* A slightly darker red for hover effect */
    }
        h1 {
          font-family: 'Times New Roman', Times, serif;
          text-align: left;
        }
        .navbar {
          background-color: white;
          overflow: hidden;
          display: flex;
          align-items: center;
          padding-left: 10px;
          color: white;
        }
        .navbar a, .dropdown-btn {
          display: inline-block;
          color: rgb(10, 10, 10);
          background-color: white;
          text-align: center;
          padding: 6px 16px;
          text-decoration: none;
          transition: background-color 0.3s;
        }
    
        .navbar a:hover, .dropdown-btn:hover {
          background-color: rgb(196, 194, 194);
          color: none;
        }
        .navbar-right {
          margin-left: auto;
        }
        .navbar-right input {
          padding: 7px;
          margin: 8px 0;
        }
        .navbar-info {
          font-size: 0.8em;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        .dropdown-content a {
          background-color: white(247, 242, 242);
          padding: 3px 8px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        .dropdown-content a:hover {
          background-color: #f1f1f1;
        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
    .scrollable-table {
        overflow: auto;
        max-height: 300px;
        border: 2px solid rgb(46, 45, 45);
        border-radius: 5px;
    }

    .scrollable-table2 {
      overflow: auto;
      max-height: 600px;
      border: 2px solid rgb(46, 45, 45);
      border-radius: 5px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 10;
    }     
    
    .selected-row {
      background-color: #aeadad; /* Subtle highlight color */
    }

    .hide-row {
      display: none; /* Hide the row */
  }
        
        /*PURCHSING PAGE */
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .form-group label {
        font-weight: bold;
    }
    
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group select {
        width: 20%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 0px;
    }
    
    h1, h2, h3 {
      color: #333;
      box-shadow: 0px 2px 5px rgb(255, 0, 0); /* Red shadow */
      border: 1px solid #000; /* Black border */
    }
    
    form {
      margin-bottom: 0px;
    }
    
    label {
      display: block;
      margin-bottom: 0px;
    }
    
    input {
      width: 10%;
      padding: 0px;
      margin-bottom: 0px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    th, td {
      padding: 1px;
      border: 1px solid #ddd;
    }
    
        /*ITEM MASTER*/
    .container {
      display: flex;
    }
    
    .selection-tree {
      width: 200px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 30px;
    }

    .po-filter-box {
      width: 200px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 30px;
    }

    .project-filter-box {
      width: 200px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 30px;
    }

    .po-filter-box .form-group input[type="text"],
    .po-filter-box .form-group input[type="number"],
    .po-filter-box .form-group select {
    width: 100%;
    padding: 8px;
    margin: 5px 0; /* Add some margin for spacing between fields */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
    
    .table-container {
      flex-grow: 1;
      padding: 20px;
    }
    .custom-context-menu {
      display: none;
      position: fixed;
      z-index: 1000;
      width: 180px; /* Wider width */
      background: white;
      border: 1px solid #ddd; /* Lighter border */
      box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Stronger shadow for pop effect */
      border-radius: 4px; /* Rounded corners */
    }
    
    .custom-context-menu {
      background-color: #f7f7f7; /* Slightly darker header background */
      border-bottom: 1px solid #ddd;
      padding: 12px;
      font-weight: bold;
      cursor: move;
    }
    
    .custom-context-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .custom-context-menu ul li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s; /* Smooth transition for hover effect */
    }
    
    .custom-context-menu ul li:hover {
      background-color: #f0f0f0; /* Light hover effect */
    }

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 500; /* Sit on top */
      left: 0;
      top: 0;
      width: 50%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .modal-content {
      background-color: #fff; /* White background for content */
      margin: 15% auto; /* Centering the modal */
      padding: 20px;
      border: 1.5px solid #888; /* Visible border */
      width: 50%; /* Adjust to your preference */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow for 3D effect */
    }
    
    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* Additional styling for form elements inside the modal for better appearance */
    #poDetailsForm label {
      display: block;
      margin-top: 10px;
    }
    
    #poDetailsForm input[type=text],
    #poDetailsForm input[type=date],
    #poDetailsForm input[type=button] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      box-sizing: border-box; /* So the width includes padding and border */
    }
    
    .create-po-button {
      background-color: #05ac05; /* Green */
      color: white;
      border: none;
      cursor: pointer;
    }
    
    #poDetailsForm input[type=button]:hover {
      opacity: 0.8;
    }
    
    .cancel-button {
      background-color: #c0bbbb; /* Red */
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 10px;
    }
    
    .cancel-button:hover {
      opacity: 0.8;
    }


    .filter-dialog {
      position: absolute;
      background: white;
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
      z-index: 100;
  }
  .dropdown-arrow {
      cursor: pointer;
  }


.edit-callout,
.edit-price,
.edit-labor-rate {
    width: 100%; /* Makes the input take up the full width of the table cell */
    box-sizing: border-box; /* Ensures that padding and border are included in the width */
    padding: 4px; /* Adds some padding inside the inputs */
    margin: 0; /* Resets any default margin */
}


#navbar {
  position: relative;
}

.company-logo {
  position: absolute;
  top: 10; /* Align to the top of the navbar container */
  right: 0; /* Align to the right of the navbar container */
  padding: 15px; /* Add some space around the logo */
}

.company-logo img {
  height: 60px; /* Adjust the size of your logo */
  width: auto; /* Keep the aspect ratio of your logo */
}

